@model WarframeToDo.ViewModels.Item.ViewModelItemIndex

<div class="ui eight item inverted menu">
    <div class=" active item">Warframes</div>
    <div class="item">Primaries</div>
    <div class="item">Secondaries</div>
    <div class="item">Melee</div>
    <div class="item">Archwing</div>
    <div class="item">Companions</div>
    <div class="item">Mods</div>
    <div class="item">Relics</div>
</div>
@Model.Warframes[0].Name
